* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  background-color: rgb(7,24,32);
}
main{
     padding-left: 140px;
 padding-right: 140px;
}
.navbar{
    background-color: rgb(10,34,44);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.image-book{
    height:150px;
    width: 350px;
    object-fit: contain;
    background-color:rgb(19, 70, 89);
}
.Book-article{
    background-color:rgb(13,51,65) ;
    height: 580px;
    width: 350px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.main-book{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.book-tittel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.book-tittel h2{
    font-size: 20px;
    
}

.white-line{
    background-color: rgb(94,157,183);
    width: 350px;
    height: 3px;
}
.book-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    width: 350px;
}

.section-book-main-header{
    display: flex;
    justify-content:space-between;
    padding: 20px 10px;
    align-items: center;
    width: 350px;
}

.book-price{
    color: red;
    font-size: 20px;
    font-weight: bold;
    
}

.section-book-main{

padding: 10px;


}
.book-comments{
   
    padding: 0 10px;
}
.book-commentForm{
    height: 100px;
    padding: 10px;
}

.book-form{
    padding: 0 10px;
   
}

.book-input{
    width: 290px;
    height: 25px;
    background-color: rgb(16,69,90);
    border: none;
    
}
.btn{
    width: 30px;
}
.input-feld{
    display: flex;
    gap: 5px;

}
